/*
* @Author: DELL
* @Date:   2020-06-12 14:00:34
* @Last Modified by:   DELL
* @Last Modified time: 2020-06-13 20:29:45
*/
.nav{
	position: absolute;
	top: 0;
	width: 100%;
	height: 51px;
	background-color:rgba(255,255,255,0.6);
}
.nav .logo{
	float: left;
	padding: 9px 0px;
	margin-left: 10px;	
}
.nav>ul>li{
	float: left;
}
.nav>ul>li>a{
	padding: 0px 12px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    display: block;
    position: relative;
    z-index: 2;
    color: #000;
}
.nav>ul>li>ul{
	display: none;
}
.nav>ul>li:hover>ul{
	display: block;
	background-color:rgba(255,255,255,0.6);
	height: 120px;
	width: 100px;
}
.nav>ul>li>ul>li>a{
	font-size: 14px;
	color: #000;
}
.nav>ul>li>ul>li{
	display: block;
	padding: 2px 0px;
}
.nav>ul>li a:hover{
	color: #8cc227;
}
.nav>ul li:hover{
	background-color: #fff;
}
.nav-right{
	float: right;
}
.nav-right li{
	float: left;
	margin-top: 15px;
	padding: 0px 9px;
}
.set{
	border-right: 1px solid #000; 
}
.nav-right ul li a{
	color: #000;
}
.nav-right ul li a:hover{
	color: #8cc227;
}
.header-bottom{
	height: 80px;
	background-color: rgba(98,98,98,0.4);
	position: absolute;
	top: 460px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding: 20px 0px;
}
.header-bottom{
	position: absolute;
	left: 350px;
}
.header-bottom input{
	float: left;
}
.text{
	display: block;
	height: 40px;
	width: 490px;
}
.submit{
	display: block;
	height: 43px;
	width: 50px;
}
.typeBox{
	height: 160px;
	width: 1100px;
	margin-left: 22px;
	padding-top: 42px;
	padding-bottom: 46px;	
}
.typeBox>ul{
	height: 160px;
	width: 1100px;
	margin-left: 70px;
}
.typeBox>ul>li{
	float: left;
	margin-left: 22px;
}
.popular{
	position: absolute;
	height: 160px;
	width: 1100px;
	margin-left: 110px;
}
.popular>p>a{
	color: #606060;
	font-size: 26px;
}
.popular>p>a:hover{
	color: #8cc227;
}
.popular .other{
	display: block;
	color: #A6A6A6;
	font-size: 16px;
}
.popular-picture{
	height: 926px;
	width: 1127px;
	margin-top: 106px;
	margin-left:110px;
}
.popular-picture img{
	display: block;
}
.popular-picture>ul>li{
	float: left;
	margin-right: 20px;
}
.popular-picture .penguin{
	height: 83px;
	width: 650px;
	padding-left: 50px;
	background-color: rgba(0,0,0,0.3);
	position: absolute;
	top: 1278px;
}
.penguin-word{
	position: relative;
	top: 13px;
	color: #fff;
	font-size: 22px;
}
.popular-picture .other-message{
	height: 140px;
	width: 296px;
	padding: 18px 17px 50px 27px;
	border: 1px solid #e8e8e8;
}
.popular-picture .other-picture{
	margin-top: 30px;
}
.popular-picture .penguin input{
	height: 30px;
	width: 104px;
	padding: 3px 12px;
	position: relative;
	top: 10px;
	background-color: #fff;
	color: #000;
	border: none;
}
.popular-picture input{
	height: 30px;
	width: 104px;
	padding: 3px 12px;
	position: relative;
	top: 10px;
	background: rgba(0,0,0,0.5);
	color: #fff;
	border: none;
}
.popular-picture .other-message p{
	color: #484848;
	font-size: 18px;
	display: block;
	margin-top: 15px;
}
.popular-picture .other-message p span{
	display: block;
	font-size: 12px;
	color: #797979;
	margin-top: 30px;
}
.most{
	height: 135px;
	width: 1100px;
	margin: 0px 81px;
}
.most input{
	display: block;
	margin-top: 43px;
	margin-left: 400px;
	height: 50px;
	width: 314px;
	color: #fff;
	font-size: 20px;
	background-color: #8cc227;
	border: 1px solid #989898;
}
.end-picture{
	position: relative;
	left: 110px;
	margin-bottom: 100px;
}
.end-message{
	height: 127px;
	width: 1100px;
	position: absolute;
	top:40px;
}
.end-message p{
	display: block;
	margin-top: 20px;
	margin-left: 450px;
	font-style: Microsoft YaHei;
	color: #000;
	font-size: 28px;
}
.end-message p span{
	margin-left: -40px;
	font-size: 15px;
}
.end{
	height: 221px;
	background-color: rgba(0,0,0,0.7);
}
.end>ul{
	margin-left: 240px;
}
.end>ul>li{
	float: left;
	padding-right: 15px;
	padding-left: 15px;
	margin-top: 30px;
	border-right: 1px solid #fff;
}
.end>ul>li>a{
	color: #fff;
}
.end .last{
	border: none;
}
.end .user-message{
	margin-top: 30px;
	margin-left: 420px;
}
.end .user-message input{
	height: 40px;
	width: 161px;
	display: inline-block;
}
.end .user-message p{
	display: block;
	margin-left: 55px;
	margin-top: 10px;
	font-size: 12px;
	color: #fff
}
.end .user-message .user-message-sub{
	height: 42px;
	width: 40px;
}
.end-last{
	margin-left: 435px;
	margin-top: 30px;
}
.end-last p{
	color: #fff;
	font-size: 16px;
}